@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Mulish:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&family=Work+Sans:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}
/* common styles */
.title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.title-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
}
button{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
}
.btn-primary{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 0;
}


/* nav styles */
.logo {
    line-height: 110px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    margin-right: px;
}

.logo .travel-point {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav {
    background-color: none;
    height: 110px;
    
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 110px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    
}

nav ul li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

}

nav ul li a:active,
nav ul li a:hover {
    color: #FF5400;
    font-size: 20px;
    transition: all .1s ease-in-out;
}

nav ul li .home {
    color: #FF5400;
}

nav label.menu-btn i {
    color: rgb(31, 29, 29);
    font-size: 30px;
    line-height: 110px;
    display: none;
    cursor: pointer;
}

#click {
    display: none;
}

/* main styles */

main{
    max-width: 1170px;
    margin: 0 auto;
}
/* destination section style */
.destination-section{
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group13.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 600px;
    margin-bottom: 100px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.destination-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.destination-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.destination-description{
    margin: 25px 0 50px 0;
    width: 60%;
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}
input, label ,select ,button{
    margin-right: 15px;
    padding-left: 16px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}
/* popular tour section */
.popular-tour-section{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}
.popular-description, .popular-title{
    text-align: left;
}
.popular-description,.popular-list{
  margin: 35px 0;
}
.popular-list li{
    margin: 16px 0;
}
.popular-tour-section img{
    height: 500px;
}
/* choose-destination-section */

.choose-destination-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-description{
    width: 56%;
    text-align: center;
    margin: 25px 0 50px 0;
}
 .row{
    display: flex;
    gap: 25px;
    width: 100%;
    margin-bottom: 25px;
}
.row .img{
    position: relative;
}
.img-name{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #FFF;
font-size: 28px;
font-weight: 800;
text-align: center;
}
/* why choose us section */
.why-chooe-us-section{
   
}

@media screen and (max-width:576px) {

    /* common style */
    .title{
        font-size: 22px;
      }
      .title-description{
        width: 100%;
      }
      /* nav styles */
    nav label.menu-btn i {
        display: flex;
        float: right;        
    }

    nav {
        padding: 0 20px;
    }

    nav ul {
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 110px;
        left: -100%;
        height: 110vh;
        width: 100%;
        transition: all .3s ease;
    }

    #click:checked~ul {
        left: 0%;
    }

    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    nav ul li:hover {
        background-color: #fc9460a7;
        color: #29292b;
    }
    /* main style */
    main{
        max-width: 90%;
    }
   /* destination style */
   .destination-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group13.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
   }

   .destination-content{
    margin-top: 50px;
   }
   .destination-description , form{
    width: 80%;
    margin:16px 0 25px 0;
   }
   input, label ,
   select ,button{
    height: 60px;
      padding: 10px;
      width: 95%;
      margin-bottom: 16px;
   }
   button{
    margin: 0;
   }
   /* popular tour section style */

   .popular-tour-section{

    flex-direction: column;
    width:95%;
    justify-content: center;
    margin: 50px auto;
   }
   .popular-tour-section img{
    height: 335px;
}
.popular-tour-section .btn-primary{
    width: 170px;
}
/* choose-destination-section */
.choose-destination-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   width: 100%;
   margin: 0 auto;
} 
.row{
    flex-direction: column;
}
.row img{
    width: 100%;
    height: 180px;
}



}

@media screen and (min-width:576px) and (max-width:992px) {
   
    nav {
        padding: 0 30px;
      
    }
  nav ul{
    display: none;
  }
  nav label.menu-btn i {
    display: flex;
    float: right;        
}
}
@media screen and (min-width:992px) and (max-width:1350px) {
   
    nav {
        padding: 0 40px;
    }

}